*,
*::before,
*::after {
  box-sizing: border-box;
}
 
body{
margin: 0;
padding: 0;
font-family: $font-1;
background-color: $color-4;
outline: none;
}
header, main{
  padding: 0 20px;
  @include tablettes-only{
    padding: 0 7%;
  }
  @include desktop-only{
    padding: 0 7%;
  }
  @include largeScreen-only{
    padding: 0 7%;  
  } 
}
main{
  min-height: 76vh;
}
header{
  padding-top: 20px;
}




