.accommodation{
    display: flex;
    flex-direction: column;
    .caroussel{
        @include desktop-only{
        align-self: center;
        }
        @include largeScreen-only{
            align-self: center;
        }
    }
}
.accommodation-header{
    color: $color-1;
    display: flex;
    flex-direction: column;
    @include tablettes-only{
        flex-direction: row;
        margin-bottom: 20px;
    }
    @include desktop-only{
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    @include largeScreen-only{
        flex-direction: row;
        margin-bottom: 24px;
        margin-top: 10px;
    }
    .accommodation-header_left{
        .accommodation-titles{
            h1{
                font-size: $font-size-4;
                font-weight: $font-weight-1;
                line-height: 26px;
                @include tablettes-only{
                    font-size: $font-size-3;
                }
                @include desktop-only{
                    font-size: $font-size-2;
                }
                @include largeScreen-only{
                    font-size: $font-size-2;
                }
            }
            h2{
                font-size: $font-size-6;
                font-weight: $font-weight-1;
                @include desktop-only{
                    font-size: $font-size-4;
                }
                @include largeScreen-only{
                    font-size: $font-size-4;
                }
            }
        }
    }
    .accommodation-header_right{
        @include tablettes-only{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50%;
        }
        @include desktop-only{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50%;
        }
        @include largeScreen-only{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50%;
        }
        .accommodation-ownerContainer{
            display: flex;
            justify-content: space-between;
            height: 50px;
            @include tablettes-only{
                display: flex;
                flex-direction: column-reverse;
            }
            @include desktop-only{
                display: flex;
                flex-direction: column-reverse;
            }
            @include largeScreen-only{
                display: flex;
                flex-direction: column-reverse;
            }
            .accommodation-rating{
                display: flex;
                align-items: center;
                @include tablettes-only{
                    margin-top: 10px;
                }
                @include desktop-only{
                    margin-top: 15px;
                }
                @include largeScreen-only{
                    margin-top: 20px;
                }
                span{
                    padding-right: 5px;
                    @include tablettes-only{
                        padding-right: 7.5px;
                        font-size: 24px;
                    }
                    @include desktop-only{
                        padding-right: 10px;
                        font-size: 30px;
                    }
                    @include largeScreen-only{
                        padding-right: 12.5px;
                        font-size: 34px;
                    }
                }
            }
            .accommodation-owner{
                // width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img{
                    width: 32px;
                    border-radius: 50%;
                    margin-left: 11px;
                    @include tablettes-only{
                        width: 45px;
                    }
                    @include desktop-only{
                        width: 64px;
                    }
                    @include largeScreen-only{
                        width: 72px;
                    }
                }
                span{
                    font-size: $font-size-5;
                    text-align: right;
                    @include tablettes-only{
                        font-size: $font-size-4;
                        margin-right: 10px;
                    }
                    @include desktop-only{
                        font-size: $font-size-4;
                        margin-right: 10px;
                    }
                    @include largeScreen-only{
                        font-size: $font-size-4;
                        margin-right: 10px;
                    }
                }
            }

        }
    }

}

.accommodation-dropdowns{
    @include desktop-only{
        display: flex;
        justify-content: space-between;
    }
    @include largeScreen-only{
        display: flex;
        justify-content: space-between;
    }
    .accommodation-desc, .accommodation-equipements{
        @include desktop-only{
            width: 45%;
        }
        @include largeScreen-only{
            width: 45%;
        }
        .dropdown{
            @include desktop-only{
                width: 100%;
            }
            @include largeScreen-only{
                width: 100%;
            }
            
        }
    }
}